<?xml version="1.0"?>
<launch>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ebot_gazebo)/worlds/turtlebot_playground.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ebot_description)/urdf/ebot.urdf.xacro'" />

  <node name="ebot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
   args="-urdf -model ebot -param robot_description" />

</launch>
